<div class="user-msg-container">
    <div> 
        <div *ngIf = "!newRequest" >
            <p>You have no requests</p>
        </div>
          <!-- Pending -->
        <mat-table *ngIf = "newRequest" [dataSource]="newRequestArr" class="mat-elevation-z8 table w100 mt16">
          <ng-container matColumnDef="startDate">
            <mat-header-cell *matHeaderCellDef>Pending</mat-header-cell>
            <mat-cell *matCellDef="let element">  
                <img src={{element.photo}} alt="">{{element.startDate | date:"dd.mm.yy"}}
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="type">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.type}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="date">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.startDate | date:"dd.mm.yy"}} - {{element.endDate | date:"dd.mm.yy"}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="description">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.description}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="decline">
            <mat-header-cell  *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let element">
                 <button (click)="declineRequest(element)" class="ml24" mat-button>decline</button>
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="confirm">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element"> 
              <button mat-button (click)="confirmRequest(element)">confirm</button>
            </td>
          </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>

          <div>
            <!-- Confirmed -->
          <mat-table *ngIf = "newRequest" [dataSource]="AddConfirmRequest" class="mat-elevation-z8 table w100 mt16">
            <ng-container matColumnDef="startDate">
              <mat-header-cell *matHeaderCellDef>Confirmed</mat-header-cell>
              <mat-cell *matCellDef="let element">  
                  <img src={{element.photo}} alt="">{{element.startDate | date:"dd.mm.yy"}}
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="type">
              <mat-header-cell *matHeaderCellDef></mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.type}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="date">
              <mat-header-cell *matHeaderCellDef></mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.startDate | date:"dd.mm.yy"}} - {{element.endDate | date:"dd.mm.yy"}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="con">
                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.confirm}} </mat-cell>
              </ng-container>
            <ng-container matColumnDef="description">
              <mat-header-cell *matHeaderCellDef></mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.description}} </mat-cell>
            </ng-container>
              <mat-header-row *matHeaderRowDef="displayedColumnsConfirm"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumnsConfirm;"></mat-row>
            </mat-table>
          </div>

      </div> 
</div>
