<div class="admin-msg-container">
    <!-- Pending -->
    <mat-tab-group mat-align-tabs="center" (selectedTabChange)="tabChanged($event)">
        <mat-tab label="Pending">

            <mat-table [dataSource]="dataSourcePending" mat-table class="mat-elevation-z8">
                <ng-container matColumnDef="employee">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <span class="sizePhotoStaffList">
                            <img [src]="getEmployeePhoto(element?.idEmployee)">
                        </span>
                        <span class="ml16">{{getEmployee(element?.idEmployee)}}</span>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="type">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <p>
                            <span class="mobile-view">Type: </span>{{element?.type}}
                        </p>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="date">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <p>
                            <span class="mobile-view">Date: </span>{{element?.date | date:"dd.MM.yyyy"}} -
                            {{element?.endDate |
                            date:"dd.MM.yyyy"}}
                        </p>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="description">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <p class="text-truncate-ellipsis" [matTooltip]="element?.description"
                            matTooltipClass="my-custom-tooltip">
                            <span class="mobile-view">Description: </span>{{element?.description}}
                        </p>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="decline">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <div>
                            <button (click)="actionRequest(false,element)" class="fontColorRed underline"
                                mat-button>decline</button>
                        </div>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="confirm">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <button mat-button (click)="actionRequest(true,element)"
                            class="fontColorGreen underline">confirm</button>
                    </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>

            <div class="noRequest" *ngIf="!pendingRequestList?.length">
                <p>You have no pending requests</p>
            </div>

        </mat-tab>



        <!-- Confirmed -->
        <mat-tab label="Confirmed">
            <mat-table *ngIf='!decline' class="marg-auto" mat-table [dataSource]="dataSourceConfirmed">
                <ng-container matColumnDef="employee">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <span class="sizePhotoStaffList">
                            <img [src]="getEmployeePhoto(element?.idEmployee)">
                        </span>
                        <span class="ml16">{{getEmployee(element?.idEmployee)}}</span>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="type">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <p>
                            <span class="mobile-view">Type: </span>{{element?.type}}
                        </p>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="date">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <p>
                            <span class="mobile-view">Date: </span>{{element?.date | date:"dd.MM.yyyy"}} -
                            {{element?.endDate |
                            date:"dd.MM.yyyy"}}
                        </p>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="description">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <p class="text-truncate-ellipsis" [matTooltip]="element?.description"
                            matTooltipClass="my-custom-tooltip">
                            <span class="mobile-view">Description: </span>{{element?.description}}
                        </p>
                    </mat-cell>
                </ng-container>
                <!-- <ng-container matColumnDef="decline">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <button mat-button (click)="actionRequest(false,element)"
                            class="fontColorRed underline">decline</button>
                    </mat-cell>
                </ng-container> -->
                <mat-header-row *matHeaderRowDef="displayedColumnsConfirm"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumnsConfirm;"></mat-row>

            </mat-table>

            <mat-paginator *ngIf='!decline && this.confirmRequestList?.length' [pageSizeOptions]="[20, 20, 50]" showFirstLastButtons></mat-paginator>

            <div class="noRequest" *ngIf="!this.confirmRequestList?.length">
                <p>You have no confirmed requests</p>
            </div>

        </mat-tab>

        <mat-tab label="Declined" (click)="toggleSelectedTab()">
            <mat-table *ngIf='decline' class="marg-auto" mat-table [dataSource]="dataSourceConfirmed">
                <ng-container matColumnDef="employee">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <span class="sizePhotoStaffList">
                            <img [src]="getEmployeePhoto(element?.idEmployee)">
                        </span>
                        <span class="ml16">{{getEmployee(element?.idEmployee)}}</span>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="type">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <p>
                            <span class="mobile-view">Type: </span>{{element?.type}}
                        </p>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="date">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <p>
                            <span class="mobile-view">Date: </span>{{element?.date | date:"dd.MM.yyyy"}} -
                            {{element?.endDate |
                            date:"dd.MM.yyyy"}}
                        </p>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="description">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <p class="text-truncate-ellipsis" [matTooltip]="element?.description"
                            matTooltipClass="my-custom-tooltip">
                            <span class="mobile-view">Description: </span>{{element?.description}}
                        </p>
                    </mat-cell>
                </ng-container>
                <!-- <ng-container matColumnDef="decline">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <button mat-button (click)="actionRequest(false,element)"
                            class="fontColorRed underline">decline</button>
                    </mat-cell>
                </ng-container> -->
                <mat-header-row *matHeaderRowDef="displayedColumnsConfirm"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumnsConfirm;"></mat-row>

            </mat-table>

            <mat-paginator *ngIf='decline && this.confirmRequestList?.length' [pageSizeOptions]="[20, 20, 50]" showFirstLastButtons></mat-paginator>
            
            <div class="noRequest" *ngIf="!this.confirmRequestList?.length">
                <p>You have no declined requests</p>
            </div>

        </mat-tab>

    </mat-tab-group>
</div>