<div class="admin-msg-container">
  <div>
    <!-- Pending -->
    <div>
      <mat-table [dataSource]="pendingRequestList" class="mat-elevation-z8 mt16">
        <ng-container matColumnDef="startDate">
          <mat-header-cell *matHeaderCellDef class="fs24" fxFlex="100%">Pending...</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span class="sizePhotoStaffList">
              <img [src]="getEmployeePhoto(element?.idEmployee)">
            </span>
            <span class="ml8">{{element.name}}</span>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="type">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.type}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="date">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.date | date:"dd.MM.yy"}} - {{element.endDate |
            date:"dd.mm.yy"}}
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="description">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.description}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="decline">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell *matCellDef="let element">
            <div class="w100" fxLayout="row" fxLayoutAlign="space-around center">
              <button (click)="actionRequest(false,element)" class="ml24" mat-button>decline</button>
              <button mat-button class="mobile-label" (click)="actionRequest(true,element)">confirm</button>
            </div>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="confirm">
          <mat-header-cell *matHeaderCellDef class="displayNone"></mat-header-cell>
          <mat-cell *matCellDef="let element" class="displayNone">
            <button mat-button (click)="actionRequest(true,element)">confirm</button>
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
      <div class="noRequest w98 h48 ma" *ngIf="!pendingRequestList?.length">
        <p class="pt11 pl8">You have no pending requests</p>
      </div>
    </div>

    <!-- Confirmed -->
    <div class="mt24">
      <mat-table [dataSource]="confirmRequestList" class="mat-elevation-z8 table w100">
        <ng-container matColumnDef="startDate">
          <mat-header-cell *matHeaderCellDef class="fs24" fxFlex="100%">Confirmed...</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span class="sizePhotoStaffList">
              <img [src]="getEmployeePhoto(element?.idEmployee)">
            </span>
            <span class="ml8">{{element.name}}</span>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="type">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.type}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="date">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.date | date:"dd.MM.yy"}} - {{element.endDate |
            date:"dd.MM.yy"}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="con">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell *matCellDef="let element"> Confirmed </mat-cell>
        </ng-container>
        <ng-container matColumnDef="description">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.description}} </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumnsConfirm"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumnsConfirm;"></mat-row>
      </mat-table>
      <div class="noRequest w98 h48 ma" *ngIf="!this.confirmRequestList?.length">
        <p class="pt11 pl8">You have no confirmed requests</p>
      </div>
    </div>
  </div>
</div>