
        <div class="container">
            <div class="container_left">
                <div class="infoBlock colorBlock"></div>
                <div class="content_top colorBlock"></div>
                <div class="content_top colorBlock"></div>
                <div class="content_top colorBlock"></div>
                <div class="content_bottom colorBlock"></div>
                <div class="content_bottom colorBlock"></div>
                <div class="content_bottom colorBlock"></div>
            </div>
            <div class="example-button-row container_right colorBlock">
                <button class="btnEdit btn" mat-stroked-button>EDIT</button>
            </div>
        </div>
        <div class="footer">
            <div class="example-button-row footer_left colorBlock">
                <button class="btnOpen btn" mat-stroked-button>OPEN FILE</button>
            </div>
            <div class="example-button-row footer_right colorBlock">
                <button class="btnEdit btn" mat-stroked-button>ADD NEW</button>
            </div>
        </div>
  
 