
        <div class="container">
            <div class="container_left">
                <div class="infoBlock colorBlock"></div>
                <div class="content_top colorBlock"></div>
                <div class="content_top colorBlock"></div>
                <div class="content_top colorBlock"></div>
                <div class="content_bottom colorBlock"></div>
                <div class="content_bottom colorBlock"></div>
                <div class="content_bottom colorBlock"></div>
            </div>
            <div class="container_right colorBlock">
                <button class="btnEdit btnStyle">EDIT</button>
            </div>
        </div>
        <div class="footer">
            <div class="footer_left colorBlock">
                <button class="btnOpen btnStyle">OPEN FILE</button>

            </div>
            <div class="footer_right colorBlock">
                <button class="btnEdit btnStyle">ADD NEW</button>
            </div>
        </div>
  
 