<div class="add-event-container">
    <h2 class="mt24" mat-dialog-title>{{dataUser.head}}</h2>
    <form [formGroup]="photoForm" *ngIf="!imageData">
        <div class="w100" fxLayout="column" fxLayoutAlign=" center">
            <div (click)="photoUpload.click()" class="addPhoto-box cursor">
                <input name="file" id="url" type="file" class="file-input cursor" (change)="onPhotoSelected($event)"
                    #photoUpload>
                add photo
            </div>
        </div>
    </form>
    <div *ngIf="imageData" class="w100" fxLayout="column" fxLayoutAlign=" center">
        <div class="photoBox">
            <div class="updatePhoto greyColor">
                <div (click)="photoUpload.click()">
                    <input name="file" id="url" type="file" class="file-input" (change)="onPhotoSelected($event)"
                        #photoUpload>
                    <img class="ml7 mt7 cursor" src="../../../assets/img/updatePhoto.png" alt="">
                </div>
            </div>
            <img class="photoBoxImg" [src]="imageData" [alt]="photoForm.value.name" />
        </div>
    </div>

    <form [formGroup]="addEmployeeForm" fxLayout="column" fxLayoutAlign=" center">

        <mat-form-field appearance="outline" class="mt24">
            <mat-label>Name</mat-label>
            <input type="text" placeholder="Enter your name..." formControlName="name" name="name" matInput>
            <mat-error class="helper-text red-text">
                <span *ngIf="name?.errors?.required">Name is required.</span>
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Last name</mat-label>
            <input type="text" placeholder="Enter your last name..." formControlName="lastName" name="name" matInput>
            <mat-error class="helper-text red-text">
                <span *ngIf="lastName?.errors?.required">Last name is required.</span>
            </mat-error>
            
        </mat-form-field>


        <mat-form-field class="w47" appearance="outline">
            <mat-label>Position(s)</mat-label>
            <mat-select formControlName="position" placeholder="Choose position...">
                <mat-option *ngFor="let position of positionList" [value]="position._id">
                    {{position.positionName | titlecase}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Birthday</mat-label>
            <input matInput formControlName="date" [matDatepicker]="picker" placeholder="Choose a date"
                (focus)="picker.open()" (click)="picker.open()" readonly>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Salary</mat-label>
            <input type="text" placeholder="Enter salary..." formControlName="salary" matInput />
            <mat-error class="helper-text red-text">
                <span *ngIf="salary?.errors?.pattern" class="error">
                    Only number.
                </span>
            </mat-error>
        </mat-form-field>

        <mat-form-field *ngIf="dataUser.showLastPerf" appearance="outline">
            <mat-label>Last Performance</mat-label>
            <input matInput formControlName="lastPerf" [matDatepicker]="pickerLastPerf"
                placeholder="Choose last performance" (focus)="pickerLastPerf.open()" (click)="pickerLastPerf.open()"
                readonly>
            <mat-datepicker-toggle matSuffix [for]="pickerLastPerf"></mat-datepicker-toggle>
            <mat-datepicker #pickerLastPerf></mat-datepicker>
        </mat-form-field>

        <mat-form-field *ngIf="!dataUser.changeUser.startDate" appearance="outline">
            <mat-label>First day</mat-label>
            <input matInput formControlName="startDate" [matDatepicker]="pickerStartDate" placeholder="Choose first daн"
                (focus)="pickerStartDate.open()" (click)="pickerStartDate.open()" readonly>
            <mat-datepicker-toggle matSuffix [for]="pickerStartDate"></mat-datepicker-toggle>
            <mat-datepicker #pickerStartDate></mat-datepicker>
            <mat-error class="helper-text red-text">
                <span *ngIf="startDate?.errors?.required">First day is required.</span>
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Phone</mat-label>
            <input type="text" placeholder="Enter phone..." formControlName="phone" matInput />
            <mat-error class="helper-text red-text">
                <span *ngIf="phone?.errors?.pattern" class="error">
                    Only number.
                </span>
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Skype</mat-label>
            <input type="skype" placeholder="Enter your skype" formControlName="skype" matInput />
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input type="email" placeholder="pat@example.com" formControlName="email" matInput />
            <mat-error class="helper-text red-text">
                <span *ngIf="email?.errors?.required">Email is required.</span>
                <span *ngIf="email?.errors?.email">Enter correct email.</span>
            </mat-error>
        </mat-form-field>

        <mat-form-field *ngIf="dataUser.showPassword" appearance="outline">
            <mat-label>Password</mat-label>
            <input type="password" placeholder="Enter password..." formControlName="password" matInput />
            <mat-error class="helper-text red-text">
                <span *ngIf="password?.errors?.required">Password is required.</span>
                <span *ngIf="password?.errors?.minlength">Password must be at least 6 characters long.</span>
            </mat-error>
        </mat-form-field>

        <mat-radio-group *ngIf="dataUser.showRole" formControlName="role" aria-label="Select an option">
            <mat-radio-button class="radioBtn" value="user">user</mat-radio-button>
            <mat-radio-button class="radioBtn" value="admin">admin</mat-radio-button>
            <mat-error *ngIf="role?.dirty || role?.touched" class="helper-text red-text">
                <span *ngIf="role?.errors?.required">Role is required.</span>
            </mat-error>

        </mat-radio-group>

        <form [formGroup]="cvForm">
            <input type="file" class="file-input" (change)="onFileSelected($event)" accept=".pdf,.doc" #fileUpload>
            <div class="file-upload mt20 w100">
                <div class="uploadFileBox" *ngIf="uploadFileName">
                    <button (click)="deleteCV()" class="fileImg" class="deleteBtn greyColor">x</button>
                    <img src="../../../assets/img/cv.svg" alt="">
                </div>
                <p (click)="getCV()" class="fz5 fontColorGrey cvName">{{uploadFileName || ""}}</p>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-around center">
                <div (click)="fileUpload.click()" type="file" class="addCV-box">
                    <button class="cvButton">{{dataUser.addCV}}</button>
                </div>
                <div *ngIf="dataUser.showArhiveUser" class="addCV-box">
                    <button (click)='deleteEmployee(addEmployeeForm.value.id)' class="cvButton">Delete user</button>
                </div>
            </div>
           
        </form>

        <button type="button" *ngIf="!dataUser.showPassword" class="changePass" (click)='updatePassword()'>
            change password
        </button>

        <div fxLayout="row" fxLayoutAlign="space-around center" class="mt50 w100">
            <div>
                <button (click)="onNoClick()" class="w155 h48 btnCancel" mat-stroked-button>Cancel</button>
            </div>
            <div>
                <button
                    (click)="getEmployee(addEmployeeForm, photoForm.value, cvForm.value)" class="btn h48 w155"
                    mat-stroked-button>{{dataUser.btn}}</button>
            </div>
        </div>

    </form>
    
</div>