.leftBox_top,.leftBox_bottom{
    width: 318px;
}
.leftBox_top{
    height: 281px;
}
.leftBox_bottom{
    height: 434px;
    margin-top: 24px;
}
.rightBox{
    width: 954px;
    height: 739px;
    margin-left: 24px;
}
.container{
    margin-top: 48px;
    margin-left: 48px;
    margin-bottom: 57px;
}
