.actionImg{
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.eventPlannedStyle{
    width: 97%;
    height: 40px;
    // background-color: aqua;
    box-shadow: 0 0 5px rgb(148, 195, 248);
    border-radius: 10px;
}