<div class="calendar-container h100Adpt" fxLayout="column">
  <!-- button -->
  <div fxLayoutAlign="end none" fxFlex.gt-sm='20%' fxFlex='5%' class="mr24 mt16 btnAddLeft">
  </div>
  <div fxLayout.gt-sm='row' fxLayout="column" fxFlex='100%' class="mb29 mt16">
    <div fxFlex.gt-sm='20%' fxFlex='120%' fxFlex.gt-xs='42%' fxLayout.gt-sm='column' fxLayout.gt-xs='row' fxLayout="column"
      class="ml48 ml24Tel">
      <!-- calendar -->
      <div fxFlex.gt-xs='50%' class="mr20 calendar">
        <mat-card class="colorBlock">
          <mat-calendar [selected]="selectedDate" (selectedChange)="onSelect($event)">
          </mat-calendar>
        </mat-card>
      </div>
      <!-- select Event -->
      <div fxFlex='49%' class="w100 w95pr mt25 mr50 colorBlock">
        <div class="ml24 pt28">
          <div class="fs14 ml8 mt7 fontColorGrey">{{selectedDate | date:'dd.MM.yy'}} </div>
        </div>
        <cdk-virtual-scroll-viewport itemSize="20" class=" viewportSelect"
          *ngIf="birthSelectDate?.length  || eventSelectedDate?.length">
          <div class="ml24">
            <div class="mt7 item" *ngFor="let birth of birthSelectDate">
              <span class="fs14 fontRobotoBold">{{birth.name}} </span>
              <span> - birthday</span>
            </div>
            <div class="mt7 item" *ngFor="let eventToday of eventSelectedDate">
              <span class="fs14 fontRobotoBold">{{eventToday.name}}</span>
              <span> - {{eventToday.type}} event</span>
            </div>
          </div>
        </cdk-virtual-scroll-viewport>
        <div class="ml24 fontColorGrey t" *ngIf="!birthSelectDate?.length  && !eventSelectedDate?.length">
          <div>No events today</div>
        </div>
      </div>
    </div>
    <!-- planned Event -->
    <div fxFlex.gt-sm='70%' fxFlex='0%' class="rightBox ml24 w91pr mt26 colorBlock">
      <div class="ml24 pt28 fs24 fontGilroy">Planned events</div>
      <div *ngIf="!eventsPlannedToday?.length && !eventsPlannedMonth?.length && !eventsPlannedLater?.length"
        class="ml24">
        <span class="fontColorGrey l fontGilroy fs14">No event yet.</span>
      </div>
      <cdk-virtual-scroll-viewport
        *ngIf="eventsPlannedToday?.length || eventsPlannedMonth?.length || eventsPlannedLater?.length" itemSize="20"
        class="viewport">
        <div class="mt16 ml24">
          <div>
            <p class="fontColorGrey fontGilroy fs18 mt16">Today</p>
            <div *ngIf="!eventsPlannedToday?.length">
              <span class="fontColorGrey fs14">No event today</span>
            </div>
            <div *ngIf="eventsPlannedToday?.length">
              <div *ngFor="let item of eventsPlannedToday" class="item mt7">
                <span class="fontColorGrey fs14">{{item.date | date:'dd/MM'}} </span>
                <span class="fs14 fontRobotoBold"> {{item.name}}</span> -
                <span class="fs14"> {{item.type}} event.</span>
                <span class="fs14"> {{item?.description}}</span>
              </div>
            </div>
          </div>
          <div *ngIf="eventsPlannedMonth?.length" class="mt16">
            <p class="fontColorGrey fs18 fontGilroy mt16">This month</p>
            <div *ngFor="let item of eventsPlannedMonth" class="item mt7">
              <span class="fontColorGrey fs14">{{item.date | date:'dd/MM'}} </span>
              <span class="fs14 ml8 fontRobotoBold"> {{item.name}}</span> -
              <span class="fs14"> {{item.type}} event.</span>
              <span class="fs14"> {{item?.description}}</span>
            </div>
          </div>
          <div *ngIf="eventsPlannedLater?.length" class="mt16">
            <p class="fontColorGrey fs18 fontGilroy mt16">Later</p>
            <div *ngFor="let item of eventsPlannedLater" class="item mt7">
              <span class="fontColorGrey fs14">{{item.date | date:'dd/MM'}} </span>
              <span class="fs14 fontRobotoBold ml8"> {{item.name}}</span> -
              <span class="fs14"> {{item.type}} event.</span>
              <span class="fs14"> {{item?.description}}</span>
            </div>
          </div>
        </div>
        <br>
      </cdk-virtual-scroll-viewport>
    </div>
  </div>
</div>