<div class="admin-staff-container h100">
  <div class="col-md-8">
    <div fxLayout="row" class="mb-3 ml8">
      <mat-form-field appearance="outline">
        <mat-label>Search</mat-label>
        <input matInput type="text" class="form-control" placeholder="Search by employee name..."
          [formControl]="searchByName" />
      </mat-form-field>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="end none" class="mr24 mt16 btnAddLeft">
    <button class="btn w155" (click)='addUser()' mat-stroked-button>ADD USER</button>
  </div>
  <mat-table [dataSource]="staffList" class="mat-elevation-z8 w100 mt16">
    <ng-container matColumnDef="photo">
      <mat-header-cell *matHeaderCellDef fxFlex="5%"></mat-header-cell>
      <mat-cell *matCellDef="let element" fxFlex="5%">
        <div class="sizePhotoStaffList">
          <img [src]="getEmployeePhoto(element?.id)">
        </div>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef fxFlex="12%"> EMPLOYEE </mat-header-cell>
      <mat-cell *matCellDef="let element" fxFlex="12%">
        <cdk-virtual-scroll-viewport itemSize="1" class="viewport ">
          <p class="overflow-ellipsis">
            {{element.name}}
          </p>
        </cdk-virtual-scroll-viewport>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="position">
      <mat-header-cell *matHeaderCellDef fxFlex="5%"> POSITION </mat-header-cell>
      <mat-cell *matCellDef="let element" fxFlex="5%"> {{element.position}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="birthday">
      <mat-header-cell *matHeaderCellDef fxFlex="5%"> BIRTH DATE </mat-header-cell>
      <mat-cell *matCellDef="let element" fxFlex="5%"> {{element.date | date:"dd.MM.yy"}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="salary">
      <mat-header-cell *matHeaderCellDef fxFlex="5%"> SALARY </mat-header-cell>
      <mat-cell *matCellDef="let element" fxFlex="5%"> {{element.salary}}$ </mat-cell>
    </ng-container>
    <ng-container matColumnDef="firstDay">
      <mat-header-cell *matHeaderCellDef fxFlex="5%"> FIRST DAY </mat-header-cell>
      <mat-cell *matCellDef="let element" fxFlex="5%"> {{element.birth}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="lastPerf">
      <mat-header-cell *matHeaderCellDef fxFlex="10%"> LAST PERFORMANCE </mat-header-cell>
      <mat-cell *matCellDef="let element" fxFlex="10%"> {{element?.lastPerf | date:"dd.MM.yy"}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="phone">
      <mat-header-cell *matHeaderCellDef fxFlex="7%"> PHONE </mat-header-cell>
      <mat-cell *matCellDef="let element" fxFlex="7%"> {{element.phone}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="skype">
      <mat-header-cell *matHeaderCellDef fxFlex="12%"> SKYPE </mat-header-cell>
      <mat-cell *matCellDef="let element" fxFlex="12%">
        <cdk-virtual-scroll-viewport itemSize="1" class="viewport">
          <p class="overflow-ellipsis">
            {{element.skype}}
          </p>
        </cdk-virtual-scroll-viewport>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef fxFlex="12%"> EMAIL </mat-header-cell>
      <mat-cell *matCellDef="let element" fxFlex="12%">
        <cdk-virtual-scroll-viewport itemSize="1" class="viewport">
          <p class="overflow-ellipsis">
            {{element.email}}
          </p>
        </cdk-virtual-scroll-viewport>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="about">
      <mat-header-cell *matHeaderCellDef fxFlex="5%"></mat-header-cell>
      <mat-cell *matCellDef="let element" fxFlex="5%">
        <button mat-button (click)="aboutUser(element)" class="underline">about</button>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="cv">
      <mat-header-cell *matHeaderCellDef fxFlex="5%"></mat-header-cell>
      <mat-cell *matCellDef="let element" fxFlex="5%">
        <button class="ml24" (click)="getCV(element)" mat-button>CV</button>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="change">
      <mat-header-cell *matHeaderCellDef fxFlex="12%"></mat-header-cell>
      <mat-cell *matCellDef="let element" fxFlex="12%">
        <button mat-button (click)="editUser(element)" class="underline">change log</button>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <div fxLayoutAlign="center center" class="col-md-12 staff-paginator mt7 mr25">
    <mat-paginator [length]="count" [pageSize]="pageSize" [showFirstLastButtons]="true"
      (page)="handlePageChange($event)">
    </mat-paginator>
  </div>
</div>