.admin-staff-container {
  padding: 16px;

  .search {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
    mat-form-field {
      margin-right: 16px;
    }
  }
}

.btn-staffList {
  background-color: #2062A3;
  color: white;
  border-radius: 50% !important;
  line-height: 0% !important;
  padding: 4px !important;
  min-width: auto !important;
}

.underline {
  text-decoration: underline;
}