<div class="add-event-container">
    <h2 class="mt24" mat-dialog-title>New password</h2>
    <form [formGroup]="passwordForm" mat-dialog-content>
        <mat-form-field appearance="fill">
            <mat-label>Enter new password</mat-label>
            <input formControlName="password"
            matInput [type]="hide ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
              <!-- <mat-error *ngIf="name?.invalid && (name?.dirty || name?.touched)" class="helper-text red-text">
                <span *ngIf="name?.errors?.required">Name is required.</span>
            </mat-error> -->
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Enter repeat your password</mat-label>
            <input formControlName="repeatPassword" matInput [type]="hideRepeat ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hideRepeat = !hideRepeat" [attr.aria-label]="'hideRepeat password'" [attr.aria-pressed]="hideRepeat">
              <mat-icon>{{hideRepeat ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
       
       
        <div fxLayout="row" fxLayoutAlign="space-around center" class="mt50">
            <div>
                <button (click)='onNoClick()' class="w155 h48" mat-stroked-button>Cancel</button>
            </div>
            <div>
                <button (click)='updatePassword(passwordForm.value)' class="btn w155"
                    mat-stroked-button>Save</button>
            </div>
        </div>
    </form>
</div>