<div class="add-event-container">
  <h2 class="mt24" mat-dialog-title>New password</h2>
  <form [formGroup]="passwordForm" mat-dialog-content>
    <mat-form-field appearance="fill">
      <mat-label>Enter new password</mat-label>
      <input formControlName="password" matInput [type]="hide ? 'password' : 'text'">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error>
        <span *ngIf="password?.errors?.required">Password is required.</span>
        <span *ngIf="password?.errors?.minlength">Password must be at least 6 characters long.</span>
        <span *ngIf="password?.errors?.pattern" class="error">
          Invalid password. Blanks are not allowed.
        </span>
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill" class="mt30">
      <mat-label>Repeat your password</mat-label>
      <input formControlName="repeatPassword" matInput [type]="hideRepeat ? 'password' : 'text'">
      <button mat-icon-button matSuffix (click)="hideRepeat = !hideRepeat" [attr.aria-label]="'hideRepeat password'"
        [attr.aria-pressed]="hideRepeat">
        <mat-icon>{{hideRepeat ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error>
        <span *ngIf="repeatPassword?.errors?.required">Password is required.</span>
        <span *ngIf="repeatPassword?.errors?.minlength">Password must be at least 6 characters long.</span>
        <span *ngIf="repeatPassword?.errors?.pattern" class="error">
          Invalid password. Blanks are not allowed.
        </span>
      </mat-error>
    </mat-form-field>


    <div fxLayout="row" fxLayoutAlign="space-around center" class="mt50">
      <div>
        <button (click)='onNoClick()' class="w155 h48" mat-stroked-button>Cancel</button>
      </div>
      <div>
        <button (click)='updatePassword(passwordForm.value)' [disabled]="!passwordForm.valid" class="btn w155"
          mat-stroked-button>Save</button>
      </div>
    </div>
  </form>
</div>