<div class="add-event-container">
    <h2 class="mt24 fw500">{{data.head}}</h2>

    <form [formGroup]="eventForm" mat-dialog-content fxLayout="column" fxLayoutAlign=" center">

        <mat-form-field appearance="outline" class="mt20">
            <mat-label>Type</mat-label>
            <mat-select formControlName="type">
                <mat-option value="Holiday">Public holiday</mat-option>
                <mat-option value="Corporate">Corporate event</mat-option>
            </mat-select>
            <mat-error class="helper-text red-text">
                <span *ngIf="type?.errors?.required">Type is required.</span>
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <input [min]="today" matInput formControlName="date" [matDatepicker]="picker" placeholder="Choose a date"
                (focus)="picker.open()" (click)="picker.open()" readonly>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error class="helper-text red-text">
                <span *ngIf="date?.errors?.required">Date is required.</span>
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input type="text" placeholder="Enter title event..." formControlName="name" name="name" matInput />
            <mat-error class="helper-text red-text">
                <span *ngIf="name?.errors?.required">Name is required.</span>
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Description</mat-label>
            <textarea placeholder="Enter description..." formControlName="description" name="description"
                matInput></textarea>
        </mat-form-field>

        <div fxLayout="row" fxLayoutAlign="space-between center" class="w100 mt24">
            <div>
                <button (click)='onNoClick()' class="w155 h48" mat-stroked-button>Cancel</button>
            </div>
            <div>
                <button (click)='getEvent(eventForm)' class="btn w155"
                    mat-stroked-button>{{data.btn}}</button>
            </div>
        </div>

    </form>

    
   
</div>