<div class="add-event-container">
    <h2 class="mt24" mat-dialog-title>{{data.head}}</h2>
    <form [formGroup]="eventForm" mat-dialog-content>
        <mat-form-field>
            <mat-label>Type</mat-label>
            <mat-select formControlName="type">
                <mat-option value="Holiday">Public holiday</mat-option>
                <mat-option value="Corporate">Corporate event</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-error *ngIf="type?.invalid && (type?.dirty || type?.touched)" class="helper-text red-text">
            <span *ngIf="type?.errors?.required">Type is required.</span>
        </mat-error>
        <mat-form-field>
            <input [min]="today" matInput formControlName="date" [matDatepicker]="picker" placeholder="Choose a date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-error *ngIf="date?.invalid && (date?.dirty || date?.touched)" class="helper-text red-text">
            <span *ngIf="date?.errors?.required">Date is required.</span>
        </mat-error>
        <mat-form-field>
            <mat-label>Name</mat-label>
            <input type="text" placeholder="Enter title event..." formControlName="name" name="name" matInput />
        </mat-form-field>
        <mat-error *ngIf="name?.invalid && (name?.dirty || name?.touched)" class="helper-text red-text">
            <span *ngIf="name?.errors?.required">Name is required.</span>
        </mat-error>
        <mat-form-field>
            <mat-label>Description</mat-label>
            <textarea placeholder="Enter description..." formControlName="description" name="description"
                matInput></textarea>
        </mat-form-field>
        <div fxLayout="row" fxLayoutAlign="space-around center" class="mt50">
            <div>
                <button (click)='onNoClick()' class="w155 h48" mat-stroked-button>Cancel</button>
            </div>
            <div>
                <button (click)='getEvent(eventForm.value)' [disabled]="!eventForm.valid" class="btn w155"
                    mat-stroked-button>{{data.btn}}</button>
            </div>
        </div>
    </form>
</div>