<div class="add-event-container">
    <h2 class="mt24" mat-dialog-title>Add event</h2>
    <div [formGroup]="eventForm" mat-dialog-content>
        <mat-form-field>
            <mat-label>Type</mat-label>
            <mat-select formControlName="type">
                <mat-option value="Public holiday">Public holiday</mat-option>
                <mat-option value="Corporate event">Corporate event</mat-option>
              </mat-select>
        </mat-form-field>
        <mat-form-field>
            <input matInput formControlName="date" [matDatepicker]="picker" placeholder="Choose a date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker startView="year"></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Name</mat-label>
            <textarea placeholder="Enter title event..." formControlName="name" name="description" matInput></textarea>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Description</mat-label>
            <textarea placeholder="Enter description..." formControlName="description" name="description" matInput></textarea>
        </mat-form-field>
            <div fxLayout="row" fxLayoutAlign="space-around center" class="mt50">
                <div>
                    <button (click)='onNoClick()' class="w155 h48" mat-stroked-button>Cancel</button>
                </div>
                <div>
                    <button (click)='addEvent()' class="btn w155" mat-stroked-button>Add</button>
                </div>
            </div>
    </div>
</div>
<div>
    <button>test</button>
</div>