.border{
    border: 2px solid rgb(42, 141, 172);
    border-radius: 10px;
    box-shadow: 0 0 5px rgb(12, 71, 105);
    margin-top: 5px;
    margin-bottom: 10px;
}
.w47{
    width: 47%;
}
mat-form-field{
    margin-left: 0;
    // margin-bottom: 10px;
}

h2{
    margin-bottom: 0;
}
.trash {

mat-icon{
    color: rgb(161, 35, 35);
}
}