.container_left{
    height: 2.5rem;
}
.content_top{
    height: 6.625rem;
}
.content_bottom{
    height: 9.4rem;
}
.container_right{
    height: 37.5rem;
}
.btnOpen-dashboard-user{
    margin-bottom: 39px;
    margin-right: 39px;
}
.user-dashboard-container{
    margin-bottom: 25px;
}
.mb0{
    margin-bottom: 0;
}
.ml33{
    margin-left: 33px;
}
.file-input {
    display: none;
}

.deleteBtn{
    width: 18px;
    height: 18px;
    border-radius: 50%;
    line-height: 8px; 
    position: absolute;
    left: 18px;
    color: white;
    bottom: 27px;
    border: none;
}
.uploadFileBox{
    position: relative;
    width: 31px;
}