.user-dashboard-grid {
  padding: 16px;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 104px repeat(3, 1fr);
  gap: 16px;

  &__block {
    padding: 16px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);
    border-radius: 8px;

    &--title {
        font-size: 14px;
        color: #7b8386;
        margin-bottom: 8px;
    }

    &--text {
        font-size: 18px;
    }
  }

  .block-user {
    position: relative;
    grid-column: span 3;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    align-items: center;

    &--text {
      font-size: 14px;
    }
  }

  .block-todo {
    position: relative;
    grid-row: span 3;
  }

  .block-file {
    position: relative;
  }

  .block-cv {
    position: relative;
  }

  .block-about {
    position: relative;
    grid-column: span 2;
  }
}

.active {
  text-decoration: line-through;
}

.scrollbar {
  max-height: 88%;
  padding-right: 8px;
  padding-bottom: 24px;
}

.scrollbar-about {
  max-height: 200px;
  padding-bottom: 40px;
}

.btn-br-corner {
  background-color: #2062A3;
  color: white;
  border-radius: 50% !important;
  line-height: 0% !important;
  padding: 4px !important;
  min-width: auto !important;
  position: absolute !important;
  bottom: 16px;
  right: 16px;
}

@media screen and (max-width: 1024px) {
  .user-dashboard-grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    height: 100%;

    .block-user {
      grid-column: 1;
      grid-template-columns: 1fr;
    }

    .block-vacationDaysLeft {
      grid-row: 5;
    }

    .block-vacation {
      grid-column: 2;
      grid-row: 5;
    }

    .block-file {
      min-height: 80px;
    }

    .block-cv {
      grid-column: 2;
    }

    .scrollbar {
      padding-bottom: 0;
    }

    .scrollbar-about {
      padding-bottom: 40px;
    }
  }
}

@media screen and (max-width: 768px) {
  .user-dashboard-grid {
    grid-template-columns: 1fr;

    .block-file {
      grid-column: 1;
    }

    .block-vacation,
    .block-vacationDaysLeft,
    .block-cv,
    .block-about {
      grid-row: auto;
      grid-column: 1;
    }

    .scrollbar {
      max-height: 100%;
      padding-bottom: 32px;
    }

    .scrollbar-about {
      padding-right: 0;
    }
  }
}