.container_left{
    height: 40px;
}
.content_top{
    height: 106px;
}
.content_bottom{
    height: 151px;
}
.container_right{
    height: 600px;
}
.footer{
    height: 204px;
}
.footer_left,.footer_right{
    height: 179px;
}
.btnOpen{
    width: 155px;
    margin-top: 92px;
    margin-left: 767px;
}
