<div fxLayout = 'row' class="container">
    <div fxLayout = 'row wrap' fxFlex = '73' class="container_left mt24">
        <div fxFlex = '96'  class="ml16 h96 colorBlock"></div>
        <div fxFlex = '31' class="content_top mt16 ml16 colorBlock"></div>
        <div fxFlex = '31'  class="content_top mt16 ml16 colorBlock"></div>
        <div fxFlex = '31'  class="content_top mt16 ml16 colorBlock"></div>
        <div fxFlex = '31'  class="content_bottom mt16 ml16 colorBlock"></div>
        <div fxFlex = '31'  class="content_bottom mt16 ml16 colorBlock"></div>
        <div fxFlex = '31'  class="content_bottom mt16 ml16 colorBlock"></div>
    </div>
    <div fxFlex = '27'  fxLayout="row" fxLayoutAlign=" end" class="example-button-row container_right mt24 colorBlock">
        <button class="w100 btn" mat-stroked-button>EDIT</button>
    </div>
</div>
<div fxLayout = 'row'  class="footer container">
    <div fxFlex = '73'  class="example-button-row mt16 footer_left colorBlock">
        <button class="btnOpen w155 btn" mat-stroked-button>OPEN FILE</button>
    </div>
    <div fxFlex = '27'  fxLayout="row" fxLayoutAlign=" end" class="example-button-row footer_right ml16 mt16 colorBlock">
        <button class="w100 btn" mat-stroked-button>ADD NEW</button>
    </div>
</div>
