.btnOpen-dashboard-user{
    margin-bottom: 39px;
    margin-right: 39px;
}
.user-dashboard-container{
    margin-bottom: 25px;
}
.mb0{
    margin-bottom: 0;
}
.ml33{
    margin-left: 33px;
}
.file-input {
    display: none;
}
.plannedVacation{
    line-height: 0.8em;
}
.itemPlannedVacation{
    height: 70px;
}
.itemAboutUser{
    word-break: break-word;
    width: 90%;
}
@media screen and (max-width: 600px) {
    .displayNoneDashboard{
        display: none !important;
        background-color: aquamarine;
      }
}
.viewport{
    height: 65px;
}
.viewportTodoList{
    height: 100%;
}
.viewport63pr{
    height: 63%;
}
label{
    display: block;
  }
.active{
    text-decoration: line-through;
}
