.settingBox{
    background-color: white;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    // width: 90%;
    height: 95vh;
}

.btn-dashboard {
    background-color: #2062A3;
    color: white;
    border-radius: 50% !important;
    line-height: 0% !important;
    padding: 4px !important;
    min-width: auto !important;
}

.uploadFileBox img{
    width: 40px;
}
.uploadFileBox{
    width: 100%;
}

.mt24{
    margin-top: 24px;
}

.borderBottom{
    border-bottom: 2px solid rgb(20, 45, 82);
    height: 25%;
}

