.admin-msg-container,
.user-msg-container,
.admin-request-list-container {
    .mat-tab-label-container {
        margin-bottom: 16px;
    }
    .mat-tab-header {
        border: none !important;
    }

    .mat-tab-body-content {
        overflow: hidden !important;
    }
}