.add-event-container,
.add-task-container,
.add-user-container,
.add-request-container,
.user-add-task-container,
.app-add-info-user,
.log-time-container{
   mat-form-field{
        width: 90%;
        height: 40px;
        margin-top: 25px;
        margin-left: 15px;
    }

    .mat-form-field-flex {
        background-color: #ECEFF1;
    }
}

.loginBox {
    mat-form-field {
        width: 325px;
        height: 48px;
        margin-top: 10px;
    }

    .mat-form-field-flex {
        background-color: #ddeffc;
        box-shadow: 0 0 5px #2062A3;
        border-radius: 10px;

        .mat-form-field-outline-thick {
            color: rgb(51, 121, 153);
        }
    }

    .mat-form-field-underline {
        display: none;
    }
}

.admin-staff-container,
.admin-log-time-container {
    .search {
        mat-form-field {
            min-width: 280px;
            height: 56px;
        }
    }

    .mat-form-field-appearance-outline .mat-form-field-outline {
        background-color: transparent;
    }

    .mat-form-field-outline-thick {
        color: rgb(51, 121, 153);
    }

    // .mat-form-field-underline {
    //     display: none;
    // }
}

@media screen and (max-width: 1024px) {
    .search {
        mat-form-field {
            width: 100% !important;
        }
    }
}