<div class="user-container sideMenu">

    <div class="sideMenu--item">
        <img src="../../assets/img/logo.png" alt="">
    </div>

    <div class="sideMenu--item">
        <button mat-icon-button routerLinkActive="activeLink" [routerLink]="['/user','dashboardUser']">
            <mat-icon>dashboard</mat-icon>
        </button>
    </div>

    <div class="sideMenu--item">
        <button mat-icon-button routerLinkActive="activeLink" class="navbar-button"
            [routerLink]="['/user','stafflist']">
            <mat-icon>perm_contact_calendar</mat-icon>
        </button>
    </div>

    <div class="sideMenu--item">
        <button mat-icon-button routerLinkActive="activeLink" class="navbar-button" [routerLink]="['/user','calendar']">
            <mat-icon>card_travel</mat-icon>
        </button>
    </div>

    <div class="sideMenu--item">
        <button mat-icon-button routerLinkActive="activeLink" class="navbar-button" [routerLink]="['/user','logTime']">
            <mat-icon>access_time</mat-icon>
        </button>
    </div>

    <div class="sideMenu--item">
        <button mat-icon-button routerLinkActive="activeLink" class="navbar-button"
            [routerLink]="['/user','messageUser']">
            <mat-icon>message</mat-icon>
            <span *ngIf='requestCount' class="circle-sms">{{requestCount}}</span>
        </button>
    </div>

    <div class="sideMenu--item">
        <button (click)="logout()" mat-icon-button>
            <mat-icon>exit_to_app</mat-icon>
        </button>
    </div>
    
</div>