<div fxLayout = 'row' class="container containerHeigh  ">
    <div fxLayout = 'row wrap' fxFlex = '73' class="container_left  container  ">
        <div fxFlex = '96' class="h95 ml16 colorBlock "></div> 
            <div  fxLayout="row" fxLayoutAlign=" end" fxFlex = '31' class="example-button-row ml16 mt16 content colorBlock ">
                <button (click) = 'addEvent()' class="w100 btn" mat-stroked-button>ADD EVENT</button>
            </div>
            <div fxFlex = '31' class="content mt16 ml16 colorBlock"></div>
            <div fxFlex = '31'  class="content ml16 mt16 colorBlock"></div>
            
    </div>
        <div fxFlex = '27'  fxLayout="row" fxLayoutAlign=" end" class="example-button-row container_right   colorBlock">
            <button (click) = 'addTask()' class="w100 btn" mat-stroked-button>ADD TASK</button>
    </div>
</div>
