label{
    display: block;
  }
.active{
    text-decoration: line-through;
}
.dashboard-content{
    height: 95%;
}
.todolistLater{
    height: 50px;
    background-color: royalblue;
}
span{ 
    white-space: normal !important; 
    word-break: break-word;
}
.item{
    height: 100%;
}
.viewport {
    height: 36rem;
    width: 100%;
}

@media screen and (max-width: 650px) {
    .viewport{
        height: 16rem;
    }
}
@media screen and (min-width: 600px) and (max-width: 650px) {
    .mt98{
        margin-top: 98px;
    }
}
