<div class="admin-dashboard-container" fxLayout='row' class="container containerHeigh">
    <div fxLayout='row wrap' fxFlex='73' class="mt24">
        <div fxFlex='96' class="h95 ml16 colorBlock"></div> 
            <div  fxLayout="row" fxLayoutAlign=" end" fxFlex='31' class="ml16 mt16 dashboard-content colorBlock ">
                <button (click)='addEvent()' class="w100 btn h48" mat-stroked-button>ADD EVENT</button>
            </div>
            <div fxFlex='31' class="dashboard-content mt16 ml16 colorBlock"></div>
            <div fxFlex='31' class="dashboard-content ml16 mt16 colorBlock"></div>
            
    </div>
        <div fxFlex='27' fxLayout="row" fxLayoutAlign=" end" class="mt24 container_right colorBlock">
            <button (click) = 'addTask()' class="w100 btn h48" mat-stroked-button>ADD TASK</button>
    </div>
</div>
