<div fxLayout="column" fxLayoutAlign="space-evenly center" class="h100pr w100">
  <div fxFlex="100%">

    <div fxLayoutAlign="center center" class="mt20">
      <button (click)="openLink($event)" mat-icon-button class="navbar-button" routerLinkActive="activeLink"
        [routerLink]="['/admin','dashboardAdmin']">
        <mat-icon>dashboard</mat-icon>
      </button>
    </div>

    <div fxLayoutAlign="center center" class="mt20">
      <button (click)="openLink($event)" mat-icon-button class="navbar-button" routerLinkActive="activeLink"
        [routerLink]="['/admin','stafflist']">
        <mat-icon>perm_contact_calendar</mat-icon>
      </button>
    </div>

    <div fxLayoutAlign="center center" class="mt20">
      <button (click)="openLink($event)" mat-icon-button class="navbar-button" routerLinkActive="activeLink"
        [routerLink]="['/admin','calendar']">
        <mat-icon>card_travel</mat-icon>
      </button>
    </div>

    <div fxLayoutAlign="center center" class="mt20">
      <button (click)="openLink($event)" mat-icon-button class="navbar-button" routerLinkActive="activeLink"
        [routerLink]="['/admin','logTime']">
        <mat-icon>access_time</mat-icon>
      </button>
    </div>

    <div class="mt20 ml7">
      <button (click)="openLink($event)" mat-icon-button class="navbar-button" routerLinkActive="activeLink"
        [routerLink]="['/admin','messageAdmin']">
        <mat-icon>message</mat-icon>
        <span *ngIf="requestCount" class="circle-sms">{{requestCount}}</span>
      </button>
    </div>

    <div class="ml7 mt20">
      <button (click)="openLink($event)" (click)="logout()" class="navbar-button" routerLinkActive="activeLink"
        mat-icon-button>
        <mat-icon>exit_to_app</mat-icon>
      </button>
    </div>

  </div>
</div>