<div class="admin-container sideMenu">

  <div class="sideMenu--item">
    <img src="../../assets/img/logo.png" alt="">
  </div>

  <div class="sideMenu--item">
    <button mat-icon-button routerLinkActive="activeLink" [routerLink]="['/admin','dashboardAdmin']" matTooltip="Dashboard" matTooltipPosition="right">
      <mat-icon>dashboard</mat-icon>
    </button>
  </div>

  <div class="sideMenu--item">
    <button mat-icon-button routerLinkActive="activeLink" class="navbar-button" [routerLink]="['/admin','stafflist']" matTooltip="Employees" matTooltipPosition="right">
      <mat-icon>perm_contact_calendar</mat-icon>
    </button>
  </div>

  <div class="sideMenu--item">
    <button mat-icon-button routerLinkActive="activeLink" class="navbar-button" [routerLink]="['/admin','calendar']" matTooltip="Events" matTooltipPosition="right">
      <mat-icon>card_travel</mat-icon>
    </button>
  </div>

  <div class="sideMenu--item">
    <button mat-icon-button routerLinkActive="activeLink" class="navbar-button" [routerLink]="['/admin','logTime']" matTooltip="Log Time" matTooltipPosition="right">
      <mat-icon>access_time</mat-icon>
    </button>
  </div>

  <div class="sideMenu--item">
    <button mat-icon-button routerLinkActive="activeLink" class="navbar-button" [routerLink]="['/admin','setting']" matTooltip="Setting" matTooltipPosition="right">
      <mat-icon>settings</mat-icon>
    </button>
  </div>

  <div class="sideMenu--item">
    <button mat-icon-button routerLinkActive="activeLink" class="navbar-button" matTooltip="Requests" matTooltipPosition="right"
      [routerLink]="['/admin','messageAdmin']">
      <mat-icon>message</mat-icon>
      <span *ngIf='requestCount' class="circle-sms">{{requestCount}}</span>
    </button>
  </div>

  <div class="sideMenu--item">
    <button (click)="logout()" mat-icon-button matTooltip="Logout" matTooltipPosition="right">
      <mat-icon>exit_to_app</mat-icon>
    </button>
  </div>
  
</div>