.sizeDashboardImg{
    width: 29px;
    height: 28px;
}
.circle-sms{
    width: 16px;
    height: 16px;
    border-radius: 50%;
    line-height: 16px; 
    text-align: center;  
    background-color:#12B2C6;
    font-size: 8px;
    position: fixed;
    animation: radial-pulse 1s infinite;
    color: white;
}
@keyframes radial-pulse {
    0% {
    box-shadow: 0 0 0 0px rgba(169, 206, 253, 0.9);
    }
  
    100% {
<<<<<<< HEAD
    dow: 0 0 0 4px rgba(7, 67, 145, 0.3);
=======
    box-shadow: 0 0 0 4px rgba(7, 67, 145, 0.3);
>>>>>>> d387566ec0979b27dffcb7e2bfa2d8adeff10191
    }
  }
.activeLink{
    background-color: rgb(201, 232, 247);
<<<<<<< HEAD
    width: 60px;
    height: 60px;
    color: rgb(14, 66, 66);
}
.activeLink mat-icon{
    color: rgb(68, 181, 209);
}
mat-icon{
    color: rgb(167, 176, 177);
    transform: scale(1.5);
}
=======
    width: 50px;
    height: 50px;
}
>>>>>>> d387566ec0979b27dffcb7e2bfa2d8adeff10191
