h2{
    font-size: 20px;
    font-weight: 500;
    color: #263238;
    text-align: center;
    margin-top: 24px;
}
mat-form-field{
    background-color: #ECEFF1;
    width: 325px;
    height: 48px;
    
}
.btnStyle{
    width: 155px;
    
}
.btnCancel{
    background-color: none;
    border: 1px solid #546E7A;
    color: #546E7A;
    height: 48px;
}
.calendar{
    margin-top: 43px;

}
.bntBox{
    display: flex;
    margin-top: 56px;
    flex-direction: row;
    justify-content: space-around;

}