@import '../../shared/coreStyle/colors.scss';

.user-log-time-container {
    padding: 16px;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 16px;

    .log-time--item {
        padding: 24px;
        background-color: $white;
        box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);
        border-radius: 16px;
    }

    .log-time {
        &__title {
            font-size: 1.313rem;
            font-family: 'Gilroy';
        }

        &__text {
            font-size: 1.125rem;
        }
    }
}

.btn-userLogTime {
    background-color: #2062A3;
    color: white;
    border-radius: 50% !important;
    line-height: 0% !important;
    padding: 4px !important;
    min-width: auto !important;
}

@media screen and (max-width: 1024px) {
    .user-log-time-container {
        height: unset;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(6, 1fr);
    }
}

@media screen and (max-width: 520px) {
    .user-log-time-container {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(12, 1fr);
    }
}