<div class="user-log-time-container">
    <div *ngFor='let selectMonth of monthArr' class="log-time--item">
        <div class="log-time__title dfsb mb16">
            {{selectMonth?.name}}
            <div *ngIf='selectMonth.id <= month'>
                <button *ngIf='showBtn(selectMonth?.id)' type="button" (click)='logTime(selectMonth)' mat-flat-button
                    class="btn-userLogTime">
                    <mat-icon>add</mat-icon>
                </button>
            </div>
        </div>
        <div class="log-time__text" *ngIf='selectMonth.id <= month'>
            {{logTimeSelectMonth(selectMonth?.id)}}
        </div>
        <div class="log-time__text" *ngIf='selectMonth.id > month'>
            It is not yet possible to add hours worked for a given month
        </div>
    </div>
</div>