<div class="container">
    <div class="container_left">
        <div class="infoBlock colorBlock"></div>
            <div class="example-button-row content colorBlock btnBottom">
                <button (click) = 'addEvent()' class="btnStyle btn" mat-stroked-button>ADD EVENT</button>
            </div>
            <div class="content colorBlock"></div>
            <div class="content colorBlock"></div>
    </div>
                <div class="example-button-row container_right btnBottom  colorBlock">
                    <button (click) = 'addTask()' class="btnStyle btn" mat-stroked-button>ADD TASK</button>
                </div>
</div>

        
  

