.example-container {
    width: 100%;
    height: 100vh;
}
mat-drawer{
    width: 72px;
    background-color: #37474F;
}
.header{
    width: 100%;
    height: 56px;
    background-color: #CFD8DC;
}
.container,.container_left{
    display: flex;
    width: 100%;
    height: 820px;
}
.container_left,.container_right{
    width: 993px;
    flex-wrap: wrap;
    margin-top: 24px;
}
.colorBlock{
    background-color: #ECEFF1;
}
.infoBlock,.content{
    width: 961px;
    height: 95px;
    margin-left: 16px;
}
.content{
    width: 309px;
    height: 689px;
}
.container_right{
    width: 359px;
    height: 800px;

}
.btnStyle{
    background-color: #546E7A;
    color: white;
    text-align: center;
    font-style: 18px;
    height: 48px;
    width: 100%;
}
.btnBottom{
    display: flex;
    align-items: flex-end;
}