<mat-drawer-container class="example-container w100 h100">
  <mat-drawer class="navbar" mode="side" opened>
    <div  fxLayout="column" fxLayoutAlign="space-evenly center"  class="mt76">
      <div class="mt20">
          <button mat-icon-button [routerLink]="['/admin', 'dashboardAdmin']" >
              <img class="sizeDashboardImg"  src="/assets/img/dashboardImg.png" alt="photo">
          </button>
      </div>
      <div class="mt20">
          <button mat-icon-button class="size" [routerLink]="['/admin', 'stafflist']">
              <img src="/assets/img/people.png" alt="">
          </button>
      </div>
      <div class="mt20">
          <button  mat-icon-button class="size" [routerLink]="['/admin', 'calendar']">
              <img src="/assets/img/bag.png" alt=""><br>
          </button>
      </div>
      <div class="mt20 msgIcon">
        <button  mat-icon-button class="size" [routerLink]="['/admin', 'messageAdmin']">
            <img class="bagIcon_top" src="/assets/img/msg.png" alt=""><br>
        </button>
    </div>
  </div>
  </mat-drawer>
  <mat-drawer-content>
    <div class="header w100"></div>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
 
