.sizeDashboardImg{
    width: 29px;
    height: 28px;
}
.circle-sms{
    width: 16px;
    height: 16px;
    border-radius: 50%;
    line-height: 16px; 
    text-align: center;  
    background-color:#9fcbf7;
    font-size: 8px;
    position: absolute;
    left: 30px;
    top: 3px;
    animation: radial-pulse 1s infinite;
    color: white;
}
@keyframes radial-pulse {
    0% {
    box-shadow: 0 0 0 0px rgba(169, 206, 253, 0.9);
    }
  
    100% {
    box-shadow: 0 0 0 10px rgba(7, 67, 145, 0.5);
    }
  }