.user-staff-container {
    padding: 16px;
        .search {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-bottom: 16px;
          mat-form-field {
            margin-right: 16px;
          }
        }
}

.underline {
    text-decoration: underline;
}

.mobile-view {
    display: none;
}


@media screen and (max-width: 1024px) {
    .mobile-view {
        display: inline;
        font-size: 1.125rem;
        font-weight: 600;
    }
}

// @media(max-width: 1280px) {
//     .mobile-label {
//         display: inline-block;
//         font-weight: bold;
//     }

//     .ml6 {
//         margin-left: 6px;
//     }

//     mat-header-cell {
//         display: none;
//     }

//     .displayNone {
//         display: none;
//     }

//     mat-row {
//         align-items: start;
//         padding: 8px 24px;
//         width: 48%;
//     }

//     mat-table {
//         margin-left: 0;
//         width: 90%;
//         display: flex;
//         flex-wrap: wrap;
//         margin: auto;
//     }

//     mat-cell {
//         border: 1px;
//     }
// }

// .h {
//     text-overflow: ellipsis;
//     overflow: hidden;
//     word-break: break-all;
// }

// @media(min-width: 1280px) {
//     .mobile-label {
//         display: none;
//     }

//     .example-container {
//         display: flex;
//         max-height: 500px;
//     }

//     .mat-table {
//         overflow: auto;
//         // max-height: 500px;
//     }
// }

// @media(max-width: 620px) {
//     .mat-row {
//         width: 95%;
//     }
// }