<div class="admin-staff-container h100">
  <div class="col-md-12">
    <pagination-controls previousLabel="Prev" nextLabel="Next" [responsive]="true"
      (pageChange)="handlePageChange($event)"></pagination-controls>
    <div *ngFor="let employee of staffList | paginate : {
              itemsPerPage: pageSize,
              currentPage: page,
              totalItems: count};let i = index" [class.active]="i == currentIndex"
      (click)="setActiveEmployee(employee, i)">
    </div>
  </div>
  <mat-table [dataSource]="staffList" class="mat-elevation-z8 table w100 h100 mt16">
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> EMPLOYEE </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <img src={{element.photo}} alt="">{{element.name}}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="position">
      <mat-header-cell *matHeaderCellDef> POSITION </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="birthday">
      <mat-header-cell *matHeaderCellDef> BIRTH DATE </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.date | date:"dd.MM.yy"}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="phone">
      <mat-header-cell *matHeaderCellDef> PHONE </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.phone}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef> EMAIL </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="skype">
      <mat-header-cell *matHeaderCellDef> SKYPE </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>