<div class="user-staff-container h100">
  <mat-table [dataSource]="staffList" class="mat-elevation-z8 margin-auto mt16">
    <ng-container matColumnDef="photo">
      <mat-header-cell *matHeaderCellDef fxFlex="5%" class="displayNone"></mat-header-cell>
      <mat-cell *matCellDef="let element" fxFlex="5%" class="displayNone">
        <div class="sizePhotoStaffList">
          <img [src]="getEmployeePhoto(element.id)" />
        </div>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef fxFlex="15%"> EMPLOYEE </mat-header-cell>
      <mat-cell *matCellDef="let element" fxFlex="14%">
        <span class="mobile-label fontColorBlue">{{element?.name | uppercase}}</span>
        <cdk-virtual-scroll-viewport itemSize="1" class="viewport displayNone">
          <p class="overflow-ellipsis">
            {{element.name}}
          </p>
        </cdk-virtual-scroll-viewport>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="position">
      <mat-header-cell *matHeaderCellDef fxFlex="15%"> POSITION </mat-header-cell>
      <mat-cell *matCellDef="let element" fxFlex="15%"> 
        <span class="mobile-label fontColorBlue">POSITION: </span>
        <span class="ml6">{{element?.position}}</span>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="birthday">
      <mat-header-cell *matHeaderCellDef fxFlex="10%"> BIRTH DATE </mat-header-cell>
      <mat-cell *matCellDef="let element" fxFlex="10%">
        <span class="mobile-label fontColorBlue">BIRTH DATE: </span>
        <span class="ml6">{{element.date | date:"dd.MM.yy"}}</span>  
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="phone">
      <mat-header-cell *matHeaderCellDef fxFlex="15%"> PHONE </mat-header-cell>
      <mat-cell *matCellDef="let element" fxFlex="14%">
        <span class="mobile-label fontColorBlue">PHONE: </span>
        <span class="ml6">{{element?.phone}}</span>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef fxFlex="15%"> EMAIL </mat-header-cell>
      <mat-cell *matCellDef="let element" fxFlex="10%">
        <span class="mobile-label fontColorBlue">EMAIL: </span>
        <span class="ml6 mobile-label">{{element?.email}}</span>
        <p class="overflow-ellipsis displayNone">
          {{element.email}}
        </p>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="skype">
      <mat-header-cell *matHeaderCellDef fxFlex="15%"> SKYPE </mat-header-cell>
      <mat-cell *matCellDef="let element" fxFlex="15%">
        <span class="mobile-label fontColorBlue">SKYPE: </span>
        <span class="ml6 mobile-label">{{element?.skype}}</span>
        <cdk-virtual-scroll-viewport itemSize="1" class="viewport displayNone">
          <p class="overflow-ellipsis">
            {{element.skype}}
          </p>
        </cdk-virtual-scroll-viewport>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="about">
      <mat-header-cell *matHeaderCellDef fxFlex="10%"></mat-header-cell>
      <mat-cell *matCellDef="let element" fxFlex="10%">
        <span class="mobile-label fontColorBlue">ABOUT EMPLOYEE: </span>
        <button mat-button (click)="aboutUser(element)" class="underline">about</button>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <div fxLayoutAlign="center center" class="col-md-12 staff-paginator mt7 mr25">
    <mat-paginator [length]="count" [pageSize]="pageSize" [showFirstLastButtons]="true"
      (page)="handlePageChange($event)">
    </mat-paginator>
  </div>
</div>