<div class="container">
    <div *ngIf="isUser" [routerLink]="['profileUser']" class="borderPhoto">
        <img src="/assets/img/photo.png" alt="photo">
    </div>
    <div *ngIf="isAdmin" [routerLink]="['profileAdmin']" class="borderPhoto">
        <img src="/assets/img/photo.png" alt="photo">
    </div>
    <div>
        <button *ngIf="isAdmin" mat-icon-button class="peopleIcon" [routerLink]="['admin', 'stafflist']">
            <img src="/assets/img/people.png" alt="">
        </button>
        <button *ngIf="isUser" mat-icon-button class="peopleIcon" [routerLink]="['user', 'stafflist']">
            <img src="/assets/img/people.png" alt="">
        </button>
    </div>
    <div>
        <button mat-icon-button *ngIf="isUser" class="bagIcon" [routerLink]="['user', 'calendar']">
            <img class="bagIcon_top" src="/assets/img/bag1.png" alt=""><br>
            <img class="bagIcon_bottom"src="/assets/img/bag2.png" alt="">
        </button>
        <button mat-icon-button *ngIf="isAdmin" class="bagIcon" [routerLink]="['admin', 'calendar']">
            <img class="bagIcon_top" src="/assets/img/bag1.png" alt=""><br>
            <img class="bagIcon_bottom"src="/assets/img/bag2.png" alt="">
        </button>
    </div>
</div>
