<div class="admin-log-time-container">

    <div class="search mb16 dfc">
        <mat-form-field appearance="outline">
            <mat-label>Search</mat-label>
            <input matInput type="text" class="form-control" placeholder="Search by employee name..."
                [formControl]="searchByName" />
        </mat-form-field>
    </div>

    <div class="mb8 dfc log-time--month">
        <span class="log-time--title">{{currentMonth}}</span>
        <span *ngIf='standartHour' class="log-time--text">({{standartHour.time}} hours)</span>
        <span *ngIf='standartHour'>
            <button type="button" mat-flat-button (click)='updateHours(standartHour)' class="btn-logTime">
                <mat-icon>edit</mat-icon>
            </button>
        </span>
        <span *ngIf='!standartHour'>
            <button type="button" mat-flat-button (click)='addStandartMonthHours()' class="btn-logTime">
                <mat-icon>add</mat-icon>
            </button>
        </span>
    </div>

    <div>

        <mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef>Employee</mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <div class="dfac">
                        <div class="sizePhotoStaffList mr16">
                            <img [src]="getEmployeePhoto(element.id)">
                        </div>
                        {{element?.name}} {{element?.lastName}}
                    </div>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="workTime">
                <mat-header-cell *matHeaderCellDef>Worktime</mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <p><span class="mobile-view">Worktime: </span>{{workTime(element.id) || '-'}}</p>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="salary">
                <mat-header-cell *matHeaderCellDef>Salary</mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <p><span class="mobile-view">Salary: </span>{{element?.salary ? element?.salary + '$' : '-'}}</p>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="sum">
                <mat-header-cell *matHeaderCellDef>Summary</mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <p><span class="mobile-view">Summary: </span>{{workTimeSum(element?.id, element?.salary) ? workTimeSum(element?.id, element?.salary) + '$' : '-'}}</p>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
        <mat-paginator #paginator [length]="staffList.length" [pageSize]="6" [pageSizeOptions]="[2, 4, 6, 8, 10]"
            showFirstLastButtons>
        </mat-paginator>
    </div>
</div>