@import '../../shared/coreStyle/colors.scss';

.admin-log-time-container {
    padding: 16px;

    .log-time {
        &--title {
            font-size: 1.5rem;
            font-family: 'Gilroy';
        }

        &--text {
            font-size: 1rem;
            color: $grey;
            margin: 0 8px;
        }
    }

    .btn-logTime {
        background-color: $blue;
        color: $white;
        border-radius: 50% !important;
        line-height: 0% !important;
        padding: 4px !important;
        min-width: auto !important;
    }
}

.mobile-view {
    display: none;
}


@media screen and (max-width: 1024px) {
    .mobile-view {
        display: inline;
        font-size: 1.125rem;
        font-weight: 600;
    }

    .log-time--month {
        margin-bottom: 16px;
    }
}