<div class="user-add-month-log-time-container">
    <h2 class="mt24" mat-dialog-title>Log time</h2>
    <form [formGroup]="logTimeForm" mat-dialog-content>
        
          <mat-form-field appearance="fill" class="w100 mt14">
            <mat-label>Time</mat-label>
            <input placeholder="Log your time..." formControlName="time" matInput>
            <mat-error *ngIf="time?.invalid && (time?.dirty || time?.touched)" class="helper-text red-text">
                <span *ngIf="time?.errors?.required">Time is required.</span>
                <span *ngIf="time?.errors?.pattern">Time is number.</span>
            </mat-error>
          </mat-form-field>
       
        <div fxLayout="row" fxLayoutAlign="space-around center" class="mt50">
            <div>
                <button (click)='onNoClick()' class="w155 h48" mat-stroked-button>Cancel</button>
            </div>
            <div>
                <button (click)='logTime(logTimeForm.value)' class="btn w155"
                    mat-stroked-button>Save</button>
            </div>
        </div>
    </form>
</div>