<div class="add-request-container">
    <h3 class="mt24" mat-dialog-title>Create request</h3>
    <div [formGroup]="requestForm" mat-dialog-content>
        <mat-form-field>
            <mat-label>Type</mat-label>
            <mat-select formControlName="type">
                <mat-option value="option1">One</mat-option>
                <mat-option value="option2">Two</mat-option>
            </mat-select>
        </mat-form-field>
        <div fxLayout="row" fxLayoutAlign="space-between center">
            <div>
                <mat-form-field class="mt44 calendarWidth">
                    <input formControlName="startDate" matInput [matDatepicker]="picker" placeholder="Start day">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker startView="year"></mat-datepicker>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field class="mr25 mt44 calendarWidth">
                    <input formControlName="endDate" matInput [matDatepicker]="picker1" placeholder="End day">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                  </mat-form-field>
            </div>
        </div>
        <mat-form-field>
            <mat-label>Description</mat-label>
            <textarea formControlName="description" placeholder="Enter description..." formControlName="description" name="description" matInput></textarea>
        </mat-form-field>
        <div fxLayout="row" fxLayoutAlign="space-around center" class="mt50">
            <div>
                <button (click)="onNoClick()" class="w155 h48 btnCancel" mat-stroked-button>Cancel</button>
            </div>
            <div>
                <button (click)='addRequest()' class="btn h48 w155" mat-stroked-button>Send</button>
            </div>
        </div>
        </div>
</div>