<div class="user-msg-container">
    <mat-tab-group mat-align-tabs="center">
        <!-- Pending -->
        <mat-tab label="Pending">
            <mat-table [dataSource]="pendingRequestList" class="mat-elevation-z8">
                <ng-container matColumnDef="type">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <p>
                            <span class="mobile-view">Type: </span>{{element?.type}}
                        </p>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="date">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <p>
                            <span class="mobile-view">Date: </span>{{element?.date | date:"dd.MM.yyyy"}} -
                            {{element?.endDate |
                            date:"dd.MM.yyyy"}}
                        </p>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="description">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <p class="text-truncate-ellipsis" [matTooltip]="element?.description"
                            matTooltipClass="my-custom-tooltip">
                            <span class="mobile-view">Description: </span>{{element?.description}}
                        </p>
                    </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
            <div class="noRequest" *ngIf="!pendingRequestList?.length">
                <p>You have no pending requests</p>
            </div>
        </mat-tab>
        <!-- Confirmed -->
        <mat-tab label="Confirmed">
            <mat-table [dataSource]="confirmRequestList" class="mat-elevation-z8">
                <ng-container matColumnDef="type">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <p>
                            <span class="mobile-view">Type: </span>{{element?.type}}
                        </p>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="date">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <p>
                            <span class="mobile-view">Date: </span>{{element?.date | date:"dd.MM.yyyy"}} -
                            {{element?.endDate |
                            date:"dd.MM.yyyy"}}
                        </p>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="description">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <p class="text-truncate-ellipsis" [matTooltip]="element?.description"
                            matTooltipClass="my-custom-tooltip">
                            <span class="mobile-view">Description: </span>{{element?.description}}
                        </p>
                    </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
            <div class="noRequest" *ngIf="!confirmRequestList?.length">
                <p>You have no confirmed requests</p>
            </div>
        </mat-tab>
        <!-- Declined -->
        <mat-tab label="Declined">
            <mat-table [dataSource]="declineRequestList" class="mat-elevation-z8">
                <ng-container matColumnDef="type">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <p>
                            <span class="mobile-view">Type: </span>{{element?.type}}
                        </p>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="date">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <p>
                            <span class="mobile-view">Date: </span>{{element?.date | date:"dd.MM.yyyy"}} -
                            {{element?.endDate |
                            date:"dd.MM.yyyy"}}
                        </p>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="description">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <p class="text-truncate-ellipsis" [matTooltip]="element?.description"
                            matTooltipClass="my-custom-tooltip">
                            <span class="mobile-view">Description: </span>{{element?.description}}
                        </p>
                    </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
            <div class="noRequest" *ngIf="!declineRequestList?.length">
                <p>You have no declined requests</p>
            </div>
        </mat-tab>
    </mat-tab-group>
    <div class="button-container">
        <button (click)="addRequest()" class="btn-msg">
            <mat-icon>add</mat-icon>
        </button>
    </div>
</div>