.fs18{
    font-size: 18px;
}
.fs14{
    font-size: 14px;
}
.fs24{
    font-size: 24px;
}
.fontColorGrey{
    color: #7b8386;
}
.fs36{
    font-size: 36px;
}
.fs5{
    font-size: 5px;
}
