@font-face{
    font-family: "Gilroy";
    src: url(../../../assets/font/Gilroy/Gilroy-Bold.ttf);
}
@font-face{
    font-family: "Roboto";
    src: url(../../../assets/font/Roboto/Roboto-Regular.ttf);
}
@font-face{
    font-family: "RobotoBold";
    src: url(../../../assets/font/Roboto/Roboto-Medium.ttf);
}
.fontGilroy{
    font-family: "Gilroy";
}
.fontRobotoBold{
    font-family: "RobotoBold";
}
.fs18{
    font-size: 18px;
}
.fs14{
    font-size: 14px;
}
.fs24{
    font-size: 24px;
}
.fontColorGrey{
    color: #7b8386;
}
.fs36{
    font-size: 36px;
}
.fs5{
    font-size: 5px;
}
.text-center{
    text-align: center;
}
.fw500{
    font-weight: 500;
}
