.mt76{
    margin-top: 76px;
}
.mt48{
    margin-top: 48px;
}
.ml16{
    margin-left: 16px;
}
.w100{
    width: 100%;
}
.h100{
    height: 100vh;
}
.mt16{
    margin-top: 16px;
}
.w318{
    width: 318px;
}
.ml48{
    margin-left: 48px;
}
.ml24{
    margin-left: 24px;
}
.mt24{
    margin-top: 24px;
}
.mt20{
    margin-top: 20px;
}
.h95{
    height: 95px;
}
.h100pr{
    height: 100%;
}
.mt50{
    margin-top: 50px;
}
.mb16{
    margin-bottom: 16px;
}
.mr16{
    margin-right: 16px;
}
.mr25{
    margin-right: 25px;
}
.mt44{
    margin-top: 44px;
}
.w155{
    width: 155px;
}
.mr24{
    margin-right: 24px;
}
.h11r{
    height: 11.1rem;
}
.mb29{
    margin-bottom: 29px;
}
.h48{
    height:3rem;
}
.pt28{
    padding-top: 28px;
}
.pt32{
    padding-top: 32px;
}
.mb0{
    margin-bottom: 0;
}
.ml80{
    margin-left: 80px;
}
.nn{
    background-color: aqua;
    margin-left: 30px;
}