.mt76{
    margin-top: 76px;
}
.mt48{
    margin-top: 48px;
}
.ml16{
    margin-left: 16px;
}
.w100{
    width: 100%;
}
.w90{
    width: 90%;
}
.ml7{
    margin-left: 7px;
}
.h100{
    height: 100vh;
}
.mt16{
    margin-top: 16px;
}
.w318{
    width: 318px;
}
.ml48{
    margin-left: 48px;
}
.ml24{
    margin-left: 24px;
}
.mt24{
    margin-top: 24px;
}
.mt20{
    margin-top: 20px;
}
.h95{
    height: 95px;
}
.h100pr{
    height: 100%;
}
.mt50{
    margin-top: 50px;
}
.mb16{
    margin-bottom: 16px;
}
.mb20{
    margin-bottom: 20px;
}
.mr16{
    margin-right: 16px;
}
.mr25{
    margin-right: 25px;
}
.mt44{
    margin-top: 44px;
}
.w155{
    width: 155px;
}
.mr24{
    margin-right: 24px;
}
.h11r{
    height: 11.6rem;
}
.mb29{
    margin-bottom: 29px;
}
.h48{
    height:3rem;
}
.pt28{
    padding-top: 28px;
}
.pt32{
    padding-top: 32px;
}
.mb0{
    margin-bottom: 0;
}
.ml80{
    margin-left: 80px;
}
.ml8{
    margin-left: 8px;
}
.mt7{
    margin-top: 7px;
}
.ml26{
    margin-left: 26px;
}
.mt10{
    margin-top: 10px;
}
.mb165{
    margin-bottom: 165px;
}
.mt99{
    margin-top: 99px;
}
.pt11{
    padding-top: 11px;
}
.pl8{
    padding-left: 8px;
}
.ma{
    margin: auto;
}
.w98{
    width: 98%;
}
.ml8{
    margin-left: 8px;
}
.mb13{
    margin-bottom: 13px;
}
.ml12{
    margin-left: 12px;
}
.ml40{
    margin-left: 40px;
}
.ml18{
    margin-left: 18px;
}
.h39{
    height: 39px;
}
.mt10{
    margin-top: 10px;
}