.btn{
    background-color: #546E7A;
    color: white;
    text-align: center;
    font-style: 18px;
    border: none;
}
.navbar{
    width: 72px;
    background-color: #37474F;
}
.header{
    height: 56px;
    background-color: #CFD8DC;
}
.colorBlock{
    background-color: #ECEFF1;
}
.navbar-button{
    width: 60px;
    height: 60px;
}
.msgIcon{
    margin-top: 360px;
}