.btn{
    background-color: #546E7A;
    color: white;
    text-align: center;
    font-style: 18px;
    border: none;
    height: 48px;
}
.navbar{
    width: 72px;
    background-color: #37474F;
}
.header{
    height: 3.5rem;
    background-color: #CFD8DC;
}
.colorBlock{
    background-color: #ECEFF1;
}
.navbar-button{
    width: 60px;
    height: 60px;
}

.leftBox_bottom{
    height: 21.3rem;
}
.rightBox{
    height: 46.18rem;
}
h2{
    font-size: 20px;
    font-weight: 500;
    color: #263238;
    text-align: center;
}
.btnCancel{
    background-color: none;
    border: 1px solid #546E7A;
    color: #546E7A;
}
.photo{
    height: 82px;
    width: 82px;
    border-radius: 50%;
    background: rgb(163, 245, 218);
    text-align: center;
    padding-top: 20px;
    margin-top: 6px;
}
.noRequest{
    border: 1px solid rgb(212, 208, 208);
    background-color: white;
    margin-top: 30px;
}